*{
    font-family:"Helvetica Neue", sans-serif;
}
.font{
    color: rgba(13, 110, 253, 1) !important;
}
.heading3{
    font-weight: 550;
    font-size: 24px;
}
#cell-flex{
    display: flex;
    width: auto;
    align-items: flex-start !important;
    gap: 10px;
}
#cell-flex a{
    padding: 0;
}
.namebox{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.namebox input{
    width: 98vh;
}
.heading2{
    font-weight: 700;
    font-size: 16px;
}
